{% extends "customer/base.html" %}

{% block title %}Welcome, {{ session.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="my-4">Welcome to the Bookstore</h1>
            </div>
        </div>
        <!-- Display flash messages, if any -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col text-center">
                <h2>Hello, {{ session.username }}!</h2>
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
            </div>
        </div>

        <div class="row mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cover</th>
                        <th>Book Name</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>
                            {% if book['image'] %}
                            <img src="{{ url_for('static', filename='uploads/' + book['image']) }}" alt="Book Cover" width="100">
                            {% else %}
                            No Image
                            {% endif %}
                        </td>
                        <td>{{ book['book_name'] }}</td>
                        <td>{{ book['author'] }}</td>
                        <td>{{ format_currency(book['price']) }}</td>
                        <td>{{ book['stock'] }}</td>
                        <td>
                            <a href="{{ url_for('book', book_id=book[0]) }}" class="btn btn-primary">View Details</a>
                            <a href="{{ url_for('add_to_cart', book_id=book[0]) }}" class="btn btn-success">Add to Cart</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
