{% extends 'shop/base_shop.html' %}
{% block content %}
<h1>{{ 'Edit Book' if form.book_name.data else 'Add Book' }}</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.book_name.label }} {{ form.book_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.isbn.label }} {{ form.isbn(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.author.label }} {{ form.author(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.desc.label }} {{ form.desc(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.price.label }} {{ form.price(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.stock.label }} {{ form.stock(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.category_id.label }} {{ form.category_id(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-success">{{ 'Update' if form.book_name.data else 'Add' }}</button>
</form>
{% endblock %}
